.wrapper-main > * {
  vertical-align: top;
}

.wrapper-main {
  white-space: nowrap;
}

.control {
  background-color: #ccc;
  border-radius: 50%;
  margin: 5px;
  width: 25px;
  height: 25px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.control:hover {
  filter: brightness(0.8) invert(0);
}

.control-radio:checked + label .control {
  filter: brightness(0.8) invert(1);
}

.ColorPallet {
  display: inline-block;
}

.operation-button {
  display: inline-block;
  padding: 17px 0;
  width: 50px;
  height: 16px;
  font-size: x-small;
  font-weight: bold;
  color: #fff;
  text-shadow: black 0 0 3px, black 1px 1px 0;
  text-align: center;
  border: double 3px black;
  cursor: pointer;
}

.pallet-radio:checked + label .operation-button {
  border-style: solid;
}

#CanvasWrapper {
  display: inline-block;
  border: solid 2px black;
  width: 320px;
  height: 320px;
  overflow: hidden;
  background-color: #ddd;
  font-size: 0;
  box-shadow: inset black 0 0 10px;
  /* image-rendering: pixelated; */
  position: relative;
}

#CanvasWrapper canvas {
  box-shadow: black 0 0 10px;
  position: absolute;
  pointer-events: none;
}
